---
// library imports
// Import the <Image /> component
import { Image } from "astro:assets";
import { slugify } from "../../js/utils";
const { title, description, date, category, author, image } = Astro.props;
---

<header class="p-6 flex justify-center items-center flex-col text-center">
  <div class="container py-5 w-full flex flex-col gap-2">
    <small>
      <a
        href={`/category/${slugify(category)}`}
        class="badge bg-blue-700 text-white px-3 py-1 rounded-lg"
      >
        {category}
      </a>
    </small>
    <h1 class="font-bold text-3xl">{title}</h1>
    <p>by <a href={`/author/${slugify(author)}`}>{author}</a> . {date}</p>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="avif"
    fit="cover"
    quality={80}
    aspectRatio="5:2"
    class="hero-image rounded-md duration-300"
  />
</header>
