---
// component import
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/post/PostHeader.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader {title} {description} {date} {category} {image} {author} />
  <div>
    <div class="p-6 text-center mx-auto max-w-[1200px]">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>
